In [1]:
import pandas as pd
import numpy as np

In [2]:
pd.__version__

'1.4.3'

In [3]:
np.__version__

'1.23.2'

Data Frame

In [4]:
name=['Olga','Anfrew','Brain','Telulaj','Nico','Tida']
ages=[29,21,45,39,46,38]
married=[False,True,True,True,False,True]

In [5]:
seri=pd.Series(name,name="name")

In [6]:
#createing a data frame
df=pd.DataFrame({'name':name,'age':ages,'married':married})

In [7]:
df

      name  age  married
0     Olga   29    False
1   Anfrew   21     True
2    Brain   45     True
3  Telulaj   39     True
4     Nico   46    False
5     Tida   38     True

#### Note: Data frame have two dimentions: labelled indices and columns

In [8]:
# in series to access Brain
seri

0       Olga
1     Anfrew
2      Brain
3    Telulaj
4       Nico
5       Tida
Name: name, dtype: object

In [9]:
seri.iloc[2]

'Brain'

In [10]:
#To access same value from dataframe 
df.iloc[2,0]

'Brain'

In [11]:
#Lets check number of dimentions and see the difference
seri.ndim

1

In [12]:
df.ndim

2

In [13]:
# .shape
seri.shape

(6,)

In [14]:
df.shape

(6, 3)

#### Note: Each column in dataframe is series.

In [15]:
# dataframe is collection of python series,we can slice dataframe to get series
df.name

0       Olga
1     Anfrew
2      Brain
3    Telulaj
4       Nico
5       Tida
Name: name, dtype: object

In [16]:
df.name.iloc[3]

'Telulaj'

In [17]:
type(df.name)

pandas.core.series.Series

#### Unlike series dataframe could be heterogenous

In [18]:
# Chech datatype of all columns in the dataframe
df.dtypes

name       object
age         int64
married      bool
dtype: object

### Four different ways to create dataframe
* with dict of touples
* with dict of dict
* dict of series
* with list of dict

In [19]:
#Method 1

In [20]:
tuple_name=tuple(name) 
tuple_age=tuple(ages)
tuple_married=tuple(married)

In [21]:
tuple_name

('Olga', 'Anfrew', 'Brain', 'Telulaj', 'Nico', 'Tida')

### Info method
This method only workd for pandas

In [22]:
df

      name  age  married
0     Olga   29    False
1   Anfrew   21     True
2    Brain   45     True
3  Telulaj   39     True
4     Nico   46    False
5     Tida   38     True

In [23]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6 entries, 0 to 5
Data columns (total 3 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   name     6 non-null      object
 1   age      6 non-null      int64
 2   married  6 non-null      bool
dtypes: bool(1), int64(1), object(1)
memory usage: 230.0+ bytes

In [25]:
#if you do not want information about the column 
df.info(verbose=False)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6 entries, 0 to 5
Columns: 3 entries, name to married
dtypes: bool(1), int64(1), object(1)
memory usage: 230.0+ bytes

In [32]:
df.info(max_cols=3

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6 entries, 0 to 5
Data columns (total 3 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   name     6 non-null      object
 1   age      6 non-null      int64
 2   married  6 non-null      bool
dtypes: bool(1), int64(1), object(1)
memory usage: 230.0+ bytes

In [33]:
df.info(memory_usage=False)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6 entries, 0 to 5
Data columns (total 3 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   name     6 non-null      object
 1   age      6 non-null      int64
 2   married  6 non-null      bool
dtypes: bool(1), int64(1), object(1)

In [34]:
df.info(memory_usage=True)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6 entries, 0 to 5
Data columns (total 3 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   name     6 non-null      object
 1   age      6 non-null      int64
 2   married  6 non-null      bool
dtypes: bool(1), int64(1), object(1)
memory usage: 230.0+ bytes

In [35]:
#More precise memory usage
df.info(memory_usage="deep")

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6 entries, 0 to 5
Data columns (total 3 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   name     6 non-null      object
 1   age      6 non-null      int64
 2   married  6 non-null      bool
dtypes: bool(1), int64(1), object(1)
memory usage: 554.0 bytes

### Reading in Nutrition Data

In [37]:
 nutrition=pd.read_csv("./nutrition.csv")

In [39]:
nutrition.head(5)

,Unnamed: 0,name,serving_size,calories,total_fat,saturated_fat,cholesterol,sodium,choline,folate,...,fat,saturated_fatty_acids,monounsaturated_fatty_acids,polyunsaturated_fatty_acids,fatty_acids_total_trans,alcohol,ash,caffeine,theobromine,water
0,0,Cornstarch,100 g,381,0.1g,NaN,0,9.00 mg,0.4 mg,0.00 mcg,...,0.05 g,0.009 g,0.016 g,0.025 g,0.00 mg,0.0 g,0.09 g,0.00 mg,0.00 mg,8.32 g
1,1,"Nuts, pecans",100 g,691,72g,6.2g,0,0.00 mg,40.5 mg,22.00 mcg,...,71.97 g,6.180 g,40.801 g,21.614 g,0.00 mg,0.0 g,1.49 g,0.00 mg,0.00 mg,3.52 g
2,2,"Eggplant, raw",100 g,25,0.2g,NaN,0,2.00 mg,6.9 mg,22.00 mcg,...,0.18 g,0.034 g,0.016 g,0.076 g,0.00 mg,0.0 g,0.66 g,0.00 mg,0.00 mg,92.30 g
3,3,"Teff, uncooked",100 g,367,2.4g,0.4g,0,12.00 mg,13.1 mg,0,...,2.38 g,0.449 g,0.589 g,1.071 g,0,0,2.37 g,0,0,8.82 g
4,4,"Sherbet, orange",100 g,144,2g,1.2g,1mg,46.00 mg,7.7 mg,4.00 mcg,...,2.00 g,1.160 g,0.530 g,0.080 g,1.00 mg,0.0 g,0.40 g,0.00 mg,0.00 mg,66.10 g

In [41]:
#to see information on dataframe
nutrition.info(verbose=False)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8789 entries, 0 to 8788
Columns: 77 entries, Unnamed: 0 to water
dtypes: int64(3), object(74)
memory usage: 5.2+ MB

In [43]:
type(nutrition)

pandas.core.frame.DataFrame