In [2]:
import pandas as pd
import numpy as np

In [3]:
pd.__version__

'1.4.3'

In [4]:
np.__version__

'1.23.2'

Data Frame

In [13]:
name=['Olga','Anfrew','Brain','Telulaj','Nico','Tida']
ages=[29,21,45,39,46,38]
married=[False,True,True,True,False,True]

In [14]:
seri=pd.Series(name,name="name")

In [15]:
#createing a data frame
df=pd.DataFrame({'name':name,'age':ages,'married':married})

In [17]:
df

      name  age  married
0     Olga   29    False
1   Anfrew   21     True
2    Brain   45     True
3  Telulaj   39     True
4     Nico   46    False
5     Tida   38     True

#### Note: Data frame have two dimentions: labelled indices and columns

In [20]:
# in series to access Brain
seri

0       Olga
1     Anfrew
2      Brain
3    Telulaj
4       Nico
5       Tida
Name: name, dtype: object

In [22]:
seri.iloc[2]

'Brain'

In [23]:
#To access same value from dataframe 
df.iloc[2,0]

'Brain'

In [24]:
#Lets check number of dimentions and see the difference
seri.ndim

1

In [25]:
df.ndim

2

In [26]:
# .shape
seri.shape

(6,)

In [27]:
df.shape

(6, 3)

#### Note: Each column in dataframe is series.

In [28]:
# dataframe is collection of python series,we can slice dataframe to get series
df.name

0       Olga
1     Anfrew
2      Brain
3    Telulaj
4       Nico
5       Tida
Name: name, dtype: object

In [33]:
df.name.iloc[3]

'Telulaj'

In [35]:
type(df.name)

pandas.core.series.Series

#### Unlike series dataframe could be heterogenous

In [37]:
# Chech datatype of all columns in the dataframe
df.dtypes

name       object
age         int64
married      bool
dtype: object

### Four different ways to create dataframe
* with dict of touples
* with dict of dict
* dict of series
* with list of dict

In [ ]:
#Method 1

In [46]:
tuple_name=tuple(name) 
tuple_age=tuple(ages)
tuple_married=tuple(married)

In [43]:
tuple_name

('Olga', 'Anfrew', 'Brain', 'Telulaj', 'Nico', 'Tida')