In [1]:
import pandas as pd

In [2]:
student=["satish","arjun","manju"]

In [3]:
pd.Series(student)

0    satish
1     arjun
2     manju
dtype: object

In [4]:
pd.Series(data=student)

0    satish
1     arjun
2     manju
dtype: object

What is parameter and arguments?
* parameter is a variable in method defination
* argument is the actual value that we pass to the parameter
In above step "data" is parameter and "student" is argument.

In [5]:
def someFuncation(somevalue):
    print(somevalue)

In [6]:
someFuncation("Hello this is to distinguish parameter and arguments")

Hello this is to distinguish parameter and arguments

How to explore data inside series?
Can we pass list and dictionary both to the Series

In [7]:
book_list=["book1","book2","book3","book4"]

In [8]:
list_s=pd.Series(book_list)

In [9]:
book_dict={0:"book1",1:"book2",2:"book3",3:"book4"}

In [10]:
list_dict=pd.Series(book_dict)

In [11]:
list_s.equals(list_dict)

True

## dtype Attribute

In [12]:
#We can spefefy data type by specefying dtype value
pd.Series([10,13,189],dtype="float")

0     10.0
1     13.0
2    189.0
dtype: float64

### Index and Range index
Index is the level assigened to the each of the data in the series. We can access then with the help of index. Also those index can be assigned manually by ourself as shown in the example below.

In [13]:
pd.Series(data=book_list,index=["bookfirst","booksecond","bookthird","bookforth"])

bookfirst     book1
booksecond    book2
bookthird     book3
bookforth     book4
dtype: object

In [14]:
pd.Series(data=book_list,index=["bookfirst","booksecond","bookthird","bookforth"],dtype='object')

bookfirst     book1
booksecond    book2
bookthird     book3
bookforth     book4
dtype: object

In [15]:
pd.Series(data=book_list,index=["bookfirst","booksecond","bookthird","bookforth"],dtype="string")

bookfirst     book1
booksecond    book2
bookthird     book3
bookforth     book4
dtype: string

In [16]:
pd.__version__

'1.4.3'

In [17]:
book_list.index

In [18]:
pd.RangeIndex(start=4,stop=9,step=2)

RangeIndex(start=4, stop=9, step=2)

In [19]:
list(pd.RangeIndex(start=4,stop=9,step=2))

[4, 6, 8]

In [20]:
list(pd.RangeIndex(start=20,stop=-20,step=-2))

[20,
 18,
 16,
 14,
 12,
 10,
 8,
 6,
 4,
 2,
 0,
 -2,
 -4,
 -6,
 -8,
 -10,
 -12,
 -14,
 -16,
 -18]

### series and index names

In [21]:
book_series=pd.Series(book_list)

In [22]:
book_series

0    book1
1    book2
2    book3
3    book4
dtype: object

In [23]:
book_series.name

In [24]:
book_series.name=="None"

False

In [25]:
book_series.name="books"

In [26]:
book_series.name

'books'

In [27]:
book_series.name

'books'

### Take away
series can have name and they are column name in data frame

In [28]:
book_series.index.name

In [29]:
book_series.index.name =="None"

False

In [30]:
book_series.index.name="book_index"

In [31]:
book_series.index.name

'book_index'

###  Challanges
Create a python list of length 4 that contains some of your favourite persons. call this list- assign it to a variable called --persons_names

In [32]:
persons=["suman","aayush","sambhav"]

In [33]:
persons_name=persons

In [34]:
persons_name

['suman', 'aayush', 'sambhav']

### Head and tail methods
* why is this method used ?
answer: Head and tail method is used when we dont want to see whole data instead of looking at other intermediate values.

In [35]:
int_series=pd.Series([i for i in range(10)])

In [36]:
int_series

0    0
1    1
2    2
3    3
4    4
5    5
6    6
7    7
8    8
9    9
dtype: int64

In [37]:
int_series=pd.Series(range(20))

In [38]:
int_series

0      0
1      1
2      2
3      3
4      4
5      5
6      6
7      7
8      8
9      9
10    10
11    11
12    12
13    13
14    14
15    15
16    16
17    17
18    18
19    19
dtype: int64

In [39]:
int_series.size

20

In [40]:
len(int_series)

20

In [41]:
int_series.head()

0    0
1    1
2    2
3    3
4    4
dtype: int64

In [42]:
int_series.tail()

15    15
16    16
17    17
18    18
19    19
dtype: int64

In [43]:
int_series.head(2)

0    0
1    1
dtype: int64

In [44]:
int_series.tail(2)

18    18
19    19
dtype: int64

### EXtracting by index

In [45]:
from string import ascii_lowercase

In [46]:
ascii_lowercase

'abcdefghijklmnopqrstuvwxyz'

In [47]:
lower_case=list(ascii_lowercase)

In [48]:
lower_case

['a',
 'b',
 'c',
 'd',
 'e',
 'f',
 'g',
 'h',
 'i',
 'j',
 'k',
 'l',
 'm',
 'n',
 'o',
 'p',
 'q',
 'r',
 's',
 't',
 'u',
 'v',
 'w',
 'x',
 'y',
 'z']

In [49]:
pd.Series(lower_case)

0     a
1     b
2     c
3     d
4     e
5     f
6     g
7     h
8     i
9     j
10    k
11    l
12    m
13    n
14    o
15    p
16    q
17    r
18    s
19    t
20    u
21    v
22    w
23    x
24    y
25    z
dtype: object

In [50]:
pd.Series(lower_case)[0]

'a'

In [51]:
pd.Series(lower_case).head(10)

0    a
1    b
2    c
3    d
4    e
5    f
6    g
7    h
8    i
9    j
dtype: object

In [52]:
alphabets=pd.Series(lower_case)

In [53]:
alphabets

0     a
1     b
2     c
3     d
4     e
5     f
6     g
7     h
8     i
9     j
10    k
11    l
12    m
13    n
14    o
15    p
16    q
17    r
18    s
19    t
20    u
21    v
22    w
23    x
24    y
25    z
dtype: object

In [54]:
alphabets[0:]

0     a
1     b
2     c
3     d
4     e
5     f
6     g
7     h
8     i
9     j
10    k
11    l
12    m
13    n
14    o
15    p
16    q
17    r
18    s
19    t
20    u
21    v
22    w
23    x
24    y
25    z
dtype: object

In [55]:
alphabets[10:]

10    k
11    l
12    m
13    n
14    o
15    p
16    q
17    r
18    s
19    t
20    u
21    v
22    w
23    x
24    y
25    z
dtype: object

In [56]:
alphabets[:]

0     a
1     b
2     c
3     d
4     e
5     f
6     g
7     h
8     i
9     j
10    k
11    l
12    m
13    n
14    o
15    p
16    q
17    r
18    s
19    t
20    u
21    v
22    w
23    x
24    y
25    z
dtype: object

In [57]:
alphabets[2:5]

2    c
3    d
4    e
dtype: object

In [58]:
#last 6 alphabets

In [59]:
alphabets[-6:]

20    u
21    v
22    w
23    x
24    y
25    z
dtype: object

### Labeling the series and acessing eletlemts by label

In [60]:
from string import ascii_uppercase

In [61]:
ascii_uppercase

'ABCDEFGHIJKLMNOPQRSTUVWXYZ'

In [62]:
upper_alpha=list(ascii_uppercase)

In [97]:
upper_alpha

['A',
 'B',
 'C',
 'D',
 'E',
 'F',
 'G',
 'H',
 'I',
 'J',
 'K',
 'L',
 'M',
 'N',
 'O',
 'P',
 'Q',
 'R',
 'S',
 'T',
 'U',
 'V',
 'W',
 'X',
 'Y',
 'Z']

In [98]:
upper_alpha_series=pd.Series(upper_alpha,index=alphabets)

In [99]:
upper_alpha_series

a    A
b    B
c    C
d    D
e    E
f    F
g    G
h    H
i    I
j    J
k    K
l    L
m    M
n    N
o    O
p    P
q    Q
r    R
s    S
t    T
u    U
v    V
w    W
x    X
y    Y
z    Z
dtype: object

In [66]:
labeled_alphabets=pd.Series(data=list(upper_alpha),index=map(lambda x:"label_"+x,alphabets))

In [67]:
labeled_alphabets

label_a    A
label_b    B
label_c    C
label_d    D
label_e    E
label_f    F
label_g    G
label_h    H
label_i    I
label_j    J
label_k    K
label_l    L
label_m    M
label_n    N
label_o    O
label_p    P
label_q    Q
label_r    R
label_s    S
label_t    T
label_u    U
label_v    V
label_w    W
label_x    X
label_y    Y
label_z    Z
dtype: object

In [68]:
labeled_alphabets['label_a']

'A'

In [69]:
labeled_alphabets[10]

'K'

In [70]:
labeled_alphabets[:'label_f']

label_a    A
label_b    B
label_c    C
label_d    D
label_e    E
label_f    F
dtype: object

#### key difference between list and series
In the list the last index inside [start:end], the end index is excluded but in the series the last index is also included.

In [71]:
labeled_alphabets['label_d':'label_f']

label_d    D
label_e    E
label_f    F
dtype: object

In [72]:
labeled_alphabets.tail(6) # or labeled_alphabets[-6:]

label_u    U
label_v    V
label_w    W
label_x    X
label_y    Y
label_z    Z
dtype: object

#### add_prifix() and add_suffix() methods

In [73]:
alphabets

0     a
1     b
2     c
3     d
4     e
5     f
6     g
7     h
8     i
9     j
10    k
11    l
12    m
13    n
14    o
15    p
16    q
17    r
18    s
19    t
20    u
21    v
22    w
23    x
24    y
25    z
dtype: object

In [74]:
"""
Insteas of using map and lambdata function to assign custom label to each of the elements in 
series we can use use add_prefix("any_string") and add_suffix("any_string") methods for same result
"""
alphabets.add_prefix('label_')

label_0     a
label_1     b
label_2     c
label_3     d
label_4     e
label_5     f
label_6     g
label_7     h
label_8     i
label_9     j
label_10    k
label_11    l
label_12    m
label_13    n
label_14    o
label_15    p
label_16    q
label_17    r
label_18    s
label_19    t
label_20    u
label_21    v
label_22    w
label_23    x
label_24    y
label_25    z
dtype: object

In [75]:
alphabets.add_suffix('_label')

0_label     a
1_label     b
2_label     c
3_label     d
4_label     e
5_label     f
6_label     g
7_label     h
8_label     i
9_label     j
10_label    k
11_label    l
12_label    m
13_label    n
14_label    o
15_label    p
16_label    q
17_label    r
18_label    s
19_label    t
20_label    u
21_label    v
22_label    w
23_label    x
24_label    y
25_label    z
dtype: object

In [76]:
alphabets.add_suffix('_label')["0_label"]

'a'

### Using dot notation to access the elements
#### limitation
* not flexible as [start:end]
* Sliceing cannot be done

In [77]:
alphabets.size

26

In [78]:
labeled_alphabets.label_a

'A'

In [79]:
labeled_alphabets.name

In [80]:
labeled_alphabets.name="label_series"

In [81]:
labeled_alphabets.name

'label_series'

### Boolean Masks and The .loc Indexer

In [96]:
labeled_alphabets

label_a    A
label_b    B
label_c    C
label_d    D
Name: label_series, dtype: object

In [88]:
labeled_alphabets.loc['label_a']

'A'

In [89]:
labeled_alphabets.loc['label_a':'label_d']

label_a    A
label_b    B
label_c    C
label_d    D
Name: label_series, dtype: object

In [ ]:
"""
boolean:
we can use boolean True and false to denote if we want to extract 
the element from the series or not.
"""

In [95]:
#labeled_alphabets=labeled_alphabets['label_a':'label_d']
#labeled_alphabets.loc[[True,True,False,True]]

label_a    A
label_b    B
label_d    D
Name: label_series, dtype: object

In [102]:
upper_alpha_series

a    A
b    B
c    C
d    D
e    E
f    F
g    G
h    H
i    I
j    J
k    K
l    L
m    M
n    N
o    O
p    P
q    Q
r    R
s    S
t    T
u    U
v    V
w    W
x    X
y    Y
z    Z
dtype: object

In [103]:
upper_alpha_series.size

26

In [104]:
upper_alpha_series.loc[[True if i%2==0 else False for i in range(26)]]

a    A
c    C
e    E
g    G
i    I
k    K
m    M
o    O
q    Q
s    S
u    U
w    W
y    Y
dtype: object

In [106]:
boolean_list=[]
for i in range(26):
    if i%2==0:
        boolean_list.append(True)
    else: boolean_list.append(False)

In [108]:
boolean_list

[True,
 False,
 True,
 False,
 True,
 False,
 True,
 False,
 True,
 False,
 True,
 False,
 True,
 False,
 True,
 False,
 True,
 False,
 True,
 False,
 True,
 False,
 True,
 False,
 True,
 False]

In [109]:
upper_alpha_series.loc[boolean_list]

a    A
c    C
e    E
g    G
i    I
k    K
m    M
o    O
q    Q
s    S
u    U
w    W
y    Y
dtype: object

#### Extraction by position
* iloc used to locate element by integer index => indexinf by position
* loc is used to locate elements by label

In [110]:
upper_alpha_series.iloc[3]

'D'

In [111]:
upper_alpha_series.iloc[3:6]

d    D
e    E
f    F
dtype: object

In [113]:
#specefy only those elements which you want to extract
upper_alpha_series.iloc[[2,5,7]]

c    C
f    F
h    H
dtype: object

 #### Callables with .loc and .iloc
 * What is callable?
 Callable is an object that accepts some arguments and possibly return some value
 * used for highly customizable indexing
 * work with [],.loc,.iloc
 * a single argument fucntion that returns indexing output

In [114]:
 def every_fifth(x):
        return [True if i%5==0 else False for i in range(x.size)]

In [115]:
upper_alpha_series.iloc[every_fifth]

a    A
f    F
k    K
p    P
u    U
z    Z
dtype: object

### Selecting values with get() funcations
Why to use get method?
One advantage of the get functionn is that even if we try to get the value for the label which dont exists, we can pass default value so that insted of sending error we can sent default value

In [130]:
upper_alpha_series.get('a',default="sorry we dont have any value")

'A'

In [129]:
upper_alpha_series.get('ls',default="sorry we dont have any value")

'sorry we dont have any value'

In [135]:
upper_alpha_series.get('ls',default={"name": "bond"})

{'name': 'bond'}