What is series?
 * one dimentional, labelled arrarys, of any data type
 * Or a sequence of values with associated labels

In [4]:
import pandas as pd

In [2]:
student=["Anfrew","Brie","Kanika"]

In [3]:
type(student)

list

In [5]:
pd.Series(student)

0    Anfrew
1      Brie
2    Kanika
dtype: object

In [6]:
ages=[27,49,37]

In [8]:
pd.Series(ages)

0    27
1    49
2    37
dtype: int64

In [6]:
heights=[167,173.2,19 ]

In [7]:
pd.Series(heights)

0    167.0
1    173.2
2     19.0
dtype: float64

As we noticed by executing above code, series converted all the value inside it into float.

In [14]:
#series supports mixed datatype
mixed=[True,'satish',{"myage":25}]