 ## Scope
 * split-apply-combine in detail
 * groupby() mechanics and lazy evaluation
 * aggregation funcation
 * grouping by multiple keys
 * groupby() +transformation(),filter, and apply()

In [1]:
import pandas as pd
import numpy as np

In [2]:
pd.__version__

'1.4.3'

In [ ]:
# datasource:'https://andybek.com/pandas-games'

In [17]:
game_sales=pd.read_csv('https://andybek.com/pandas-games')

In [18]:
game_sales.head()

,Name,Platform,Year,Genre,Publisher,NA_Sales,EU_Sales,JP_Sales,Other_Sales,Global_Sales
0,Kinect Adventures!,X360,2010.0,Misc,Microsoft Game Studios,14.97,4.94,0.24,1.67,21.82
1,Grand Theft Auto V,PS3,2013.0,Action,Take-Two Interactive,7.01,9.27,0.97,4.14,21.40
2,Grand Theft Auto V,X360,2013.0,Action,Take-Two Interactive,9.63,5.31,0.06,1.38,16.38
3,Call of Duty: Modern Warfare 3,X360,2011.0,Shooter,Activision,9.03,4.28,0.13,1.32,14.76
4,Call of Duty: Black Ops,X360,2010.0,Shooter,Activision,9.67,3.73,0.11,1.13,14.64

In [19]:
game_sales.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3143 entries, 0 to 3142
Data columns (total 10 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Name          3143 non-null   object
 1   Platform      3143 non-null   object
 2   Year          3088 non-null   float64
 3   Genre         3143 non-null   object
 4   Publisher     3136 non-null   object
 5   NA_Sales      3143 non-null   float64
 6   EU_Sales      3143 non-null   float64
 7   JP_Sales      3143 non-null   float64
 8   Other_Sales   3143 non-null   float64
 9   Global_Sales  3143 non-null   float64
dtypes: float64(6), object(4)
memory usage: 245.7+ KB

### Simple aggrigation

In [24]:
#total sales across all the reasons
#Here we need all the rows but columns with sales only, so select those data only
game_sales.loc[:,['NA_Sales','EU_Sales','JP_Sales','Other_Sales']].sum()

NA_Sales       1173.30
EU_Sales        793.64
JP_Sales        107.06
Other_Sales     282.75
dtype: float64

In [26]:
game_sales.loc[:,['NA_Sales','EU_Sales','JP_Sales','Other_Sales']].max()

NA_Sales       14.97
EU_Sales        9.27
JP_Sales        1.87
Other_Sales     4.14
dtype: float64

### Conditional aggrigation

In [30]:
game_sales.Platform.unique()

array(['X360', 'PS3', 'PS4', 'XOne'], dtype=object)

In [31]:
#Objective : find total sales by region for X360 and PS3

In [33]:
sales=game_sales.loc[:,['Platform','NA_Sales','EU_Sales','JP_Sales','Other_Sales']]

In [38]:
#find sum only for numberic data not to the string
sales.sum(numeric_only=True)

NA_Sales       1173.30
EU_Sales        793.64
JP_Sales        107.06
Other_Sales     282.75
dtype: float64

In [40]:
sales

     Platform  NA_Sales  EU_Sales  JP_Sales  Other_Sales
0        X360     14.97      4.94      0.24         1.67
1         PS3      7.01      9.27      0.97         4.14
2        X360      9.63      5.31      0.06         1.38
3        X360      9.03      4.28      0.13         1.32
4        X360      9.67      3.73      0.11         1.13
...       ...       ...       ...       ...          ...
3138     X360      0.00      0.01      0.00         0.00
3139     XOne      0.01      0.00      0.00         0.00
3140     XOne      0.01      0.00      0.00         0.00
3141      PS4      0.00      0.01      0.00         0.00
3142     XOne      0.00      0.01      0.00         0.00

[3143 rows x 5 columns]

In [45]:
sales.loc[sales.Platform=='X360'].sum(numeric_only=True)

NA_Sales       601.05
EU_Sales       280.58
JP_Sales        12.43
Other_Sales     85.54
dtype: float64

In [46]:
sales.loc[sales.Platform=='PS3'].sum(numeric_only=True)

NA_Sales       392.26
EU_Sales       343.71
JP_Sales        79.99
Other_Sales    141.93
dtype: float64