What is explored here?
* series structure,item count, NaNs
* descriptive statistics
* series arithmetics
* storing series
* filtering and custome transformation

In [1]:
 import pandas as pd

In [3]:
pd.read_csv('./drinks.csv')

,country,beer_servings,spirit_servings,wine_servings,total_litres_of_pure_alcohol
0,Afghanistan,0,0,0,0.0
1,Albania,89,132,54,4.9
2,Algeria,25,0,14,0.7
3,Andorra,245,138,312,12.4
4,Angola,217,57,45,5.9
...,...,...,...,...,...
188,Venezuela,333,100,3,7.7
189,Vietnam,111,2,1,2.0
190,Yemen,6,0,0,0.1
191,Zambia,32,19,4,2.5
192,Zimbabwe,64,18,4,4.7

In [5]:
pd.read_csv('./drinks.csv',usecols=['country','wine_servings'])

         country  wine_servings
0    Afghanistan              0
1        Albania             54
2        Algeria             14
3        Andorra            312
4         Angola             45
..           ...            ...
188    Venezuela              3
189      Vietnam              1
190        Yemen              0
191       Zambia              4
192     Zimbabwe              4

[193 rows x 2 columns]

In [14]:
#column can be made index 
alcohol=pd.read_csv('./drinks.csv',usecols=['country','wine_servings'],index_col='country')
# notice the chagne in output,default index provided by the pandas is removed.

In [15]:
alcohol

             wine_servings
country
Afghanistan              0
Albania                 54
Algeria                 14
Andorra                312
Angola                  45
...                    ...
Venezuela                3
Vietnam                  1
Yemen                    0
Zambia                   4
Zimbabwe                 4

[193 rows x 1 columns]

In [17]:
type(alcohol)

pandas.core.frame.DataFrame

In [28]:
# this is previous version:alcohol=pd.read_csv('./drinks.csv',usecols=['country','wine_servings'],index_col='country',squeeze=True)
drinks=alcohol.squeeze()

In [30]:
drinks.size

193

In [31]:
#Accessing all the values inside the series
drinks.values

array([  0,  54,  14, 312,  45,  45, 221,  11, 212, 191,   5,  51,   7,
         0,  36,  42, 212,   8,  13,   0,   8,   8,  35,  16,   1,  94,
         7,   0,   7,  16,   1,   4, 100,   1,   1, 172,   8,   3,   1,
         9,  74,  11, 254,   5, 113, 134,   0,   1, 278,   3,  26,   9,
         3,   1,   2, 233,   0,  59,   0,   1,  97, 370,  59,   1, 149,
       175,  10, 218,  28,   2,   2,  21,   1,   1,   2, 185,  78,   0,
         0,   0,   0, 165,   9, 237,   9,  16,   1,  12,   2,   1,   0,
         6, 123,  62,  31,   0,   2,   0,  56, 271,   4,   1,   0,   0,
         1, 120,   0,   0,  18,   5,  18,   0,   8, 128,  10,   5,   0,
         1,   8,   0, 190, 175,   1,   1,   2,   7, 129,   1,   0,  23,
        18,   1,  74,  21,   1,  56, 339,   7,   9,  18, 167,  73,   0,
        32,  71,  11,  24,   0, 140,   0,   7, 127,  51,   2,  11, 116,
       276,   1,   0,  81, 112,   0,   0,   7,   2, 186, 280,  16,   0,
         1,  86,   4,  19,   5,   7,  20,   7,  32,   9,   0,  45,   5,
       195,   1,  84, 220,   8,  11,   3,   1,   0,   4,   4])

In [33]:
#Accessing all the indexes of the drinks series obtained with squeeze funcation
drinks.index

Index(['Afghanistan', 'Albania', 'Algeria', 'Andorra', 'Angola',
       'Antigua & Barbuda', 'Argentina', 'Armenia', 'Australia', 'Austria',
       ...
       'Tanzania', 'USA', 'Uruguay', 'Uzbekistan', 'Vanuatu', 'Venezuela',
       'Vietnam', 'Yemen', 'Zambia', 'Zimbabwe'],
      dtype='object', name='country', length=193)

In [34]:
drinks.shape #returns tuple, and series is one dimentional

(193,)

In [35]:
# to check if there are all unique elements
drinks.is_unique

False

In [37]:
drinks.head().is_unique

True

In [40]:
#Accessing number of unique values in the series
drinks.nunique()

79

In [41]:
drinks.nunique(dropna=False)

79

In [ ]:
### Monotonicity: having either increasing pattern or decreasing pattern

In [44]:
pd.Series([1,2,4,5]).is_monotonic

True

In [45]:
pd.Series([1,2,4,5,0]).is_monotonic

False

In [46]:
pd.Series([1,2,4,5,5,20,50]).is_monotonic

True

In [47]:
#Count method: To counT values in the series

In [49]:
#counts only not null values
drinks.count()

193

In [51]:
# To check if the series contains values which are not number or null values
drinks.hasnans

False

In [52]:
# To access nans and count then

In [55]:
#To check if the value for each of the label contains the value
drinks.isnull()

country
Afghanistan    False
Albania        False
Algeria        False
Andorra        False
Angola         False
               ...
Venezuela      False
Vietnam        False
Yemen          False
Zambia         False
Zimbabwe       False
Name: wine_servings, Length: 193, dtype: bool

In [56]:
drinks.isnull()

country
Afghanistan    False
Albania        False
Algeria        False
Andorra        False
Angola         False
               ...
Venezuela      False
Vietnam        False
Yemen          False
Zambia         False
Zimbabwe       False
Name: wine_servings, Length: 193, dtype: bool

In [59]:
#this can be used to access those records which has only null values
null_values=drinks[drinks.isnull()]

In [63]:
len(null_values)

0